
  
body {
    padding-top: 250px;
}
.title {
    
font-family: 'Yeseva One', cursive;
font-size: 25px;
height: 100px;
width: 400px;
margin: 0 auto;
padding-top: 25px;
text-align: center;
border-radius: 70px;
border: solid grey 3px;
vertical-align: middle;
background-color:rgb(137, 194, 40);
}

@media (max-width: 500px) {
    
    
    body  {
      background-color: blue;
      padding-top: 50px;
      width: 350px;
    }
  }